.header, .style{
    color: palevioletred;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.style2{
    color: palevioletred;
    font-family: 'Times New Roman', Times, serif;
}
